[submodule "Community-News-Forum-with-SQLite"]
	path = Community-News-Forum-with-SQLite
	url = https://github.com/IulianScoropad/Community-News-Forum-with-SQLite.git
[submodule "Console-Chat-using-Sockets"]
	path = Console-Chat-using-Sockets
	url = https://github.com/IulianScoropad/Console-Chat-using-Sockets.git
[submodule "Java-Native-Interface-Exercise"]
	path = Java-Native-Interface-Exercise
	url = https://github.com/IulianScoropad/Java-Native-Interface-Exercise.git
[submodule "Java-Stream-Interface-Exercise"]
	path = Java-Stream-Interface-Exercise
	url = https://github.com/IulianScoropad/Java-Stream-Interface-Exercise.git
[submodule "LargestMiller-RabinPrimeCandidate"]
	path = LargestMiller-RabinPrimeCandidate
	url = https://github.com/IulianScoropad/LargestMiller-RabinPrimeCandidate.git
